@{
    ViewData["Title"] = "Delete / Edit product";
}


<div class="d-flex flex-row flex-wrap">
@foreach(Product product in Model)
{
    <div class="container py-5 col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card shadow-sm">
            <img src="@product.ImagePath" class="card-img-top" alt="Product Image">

            <div class="card-body">
                <h5 class="card-title"><a asp-controller="Product" asp-action="EditDeleteDetails" asp-route-id="@product.Id">@product.Name</a></h5>
                <p class="card-text text-muted">@product.Description</p>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fw-bold text-primary">$@product.Price</span>
                    <a asp-controller="Product" asp-action="EditDeleteDetails" asp-route-id="@product.Id" class="btn btn-outline-primary btn-sm">Edit</a>
                </div>
            </div>
        </div>
    </div>
}
</div>